# Backend
backend/__pycache__/
backend/.venv/
backend/venv/
backend/instance/
backend/*.sqlite
backend/*.db
backend/.env
uploaded_documents/ # Do NOT commit uploaded files to Git!

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.*.local
